#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#floating-panel {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 5;
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: "roboto", "sans-serif";
	line-height: 30px;
	padding-left: 10px;
}