html, body {
	height: 100%;
	font-family: 'Montserrat', serif;
	background-color: #061C30;
	color: #47bec7;
	margin: 0;
	padding: 0;
}

#header{
	position: static;
	text-align: center;
}

#container {
	height:100vh;
	width:100vw;
}


#map {
	height: 100%;
    width: 50%;
    float: left;
    background-position: center center;
    background-size: cover;
    position: fixed !important;
}

#float-right {
	height: 100%;
	width: 40%;
	float: right;
	text-align: center;
	overflow: auto;
	float: right;
	margin-left: 50%;

}
 #floating-panel{
 	padding-top: 6em;
 	padding-right: 6em;

 }

.#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #848d96;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #47bec7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #47bec7;
    cursor: pointer;
}

select {
	width: 200px;
}

label {
	width: 100px;
}

.index-first {
	position: absolute;
	width: 200px;
	bottom: 60px;
	left: 10px;
	z-index: 10; 
	padding: 1em;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}
.index-second {
	position: absolute;
	width: 200px;
	bottom: 10px;
	left: 10px;
	z-index: 10; 
	padding: 1em;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}